#root {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

/*
Height and width styling to the map-container is necessary for the map to load.
*/
#map-container {
  flex: 1;
  height: 100%;
  width: 100%;
}